extends layout

block content
  .menu
    .logo  
    .auth
      button.btn.btn-success.login Login
      button.btn.logout.d-none Logout
  .services
    .card
      .card-header.bg-success
        h2.card-title Services
      .card-body.bg-light
        .card.mb-3.service
          .row.no-gutters
            .col-md-2
              img.border.rounded(src="/services/images/logos/vbox_logo2_gradient.png")
            col-md-8
              h1 Virtual machine (Chromas)
              button.btn.btn-success.startVM Start VM
              button.btn.btn-danger Stop VM
              button.btn.btn-secondary.statusVM Get status
              p.statusVM 
                span.badge.badge-light Current status: 
                span.status N/A



