extends layout

block content
  .menu
    .logo  
  .services
    .card
      .card-header.bg-success
        h2.card-title Services
      .card-body.bg-light
        .card.mb-3.service
          .row.no-gutters
            .col-md-2
              img.border.rounded(src="/images/logos/vbox_logo2_gradient.png")
            col-md-8
              h1 Virtual machine (Chromas)
              button.btn.btn-success Start VM
              button.btn.btn-danger Stop VM
              button.btn.btn-secondary Get status
              p Current status: N/A



